# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

.env

firabase-admin-sdk-key.json
src/firabase-admin-sdk-key.json

